{% extends "layout.html" %}

{% block title %}{{ app.translator.trans('title.products.body_impact') }}{% endblock %}
{% block stylesheets %}<link href="/web/css/products.css" rel="stylesheet">{% endblock %}
{% set products = ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh'] %}
{% set type = 'body_impact' %}

{% block content %}
  <main>
    <div class="container container-products">
      <section class="row breadcrumb-row">
        <div class="wow fadeInDown">
          <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">{{ app.translator.trans('title.home') }}</a></li>
            <li><a href="{{ path('products') }}">{{ app.translator.trans('title.products.home') }}</a></li>
            <li class="active">{{ app.translator.trans('title.products.body_impact') }}</li>
          </ol>
        </div>
      </section>
      <section class="row">
        <div class="center wow fadeInDown">
          <h2>{{ app.translator.trans('title.products.body_impact') }}</h2>
          <p class="lead text-justify">{{ app.translator.trans('products.lead.body_impact') }}</p>
        </div>
      </section>
      <section class="row">
        {% for product in products %}
          {% include 'products/product.html' with {'type': type, 'product': product} %}
        {% endfor %}   
      </section>
    </div>
  </main>
{% endblock %}