{% extends "layout.html" %}

{% block title %}{{ app.translator.trans('title.products') }}{% endblock %}
{% block stylesheets %}<link href="/web/css/products.css" rel="stylesheet">{% endblock %}

{% block content %}
  <main>
    <div class="container container-products">
      <section class="row breadcrumb-row">
        <div class="wow fadeInDown">
          <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">{{ app.translator.trans('title.home') }}</a></li>
            <li class="active">{{ app.translator.trans('title.products.home') }}</li>
          </ol>
        </div>
      </section>
      <section class="row">
        <div class="center wow fadeInDown">
          <h2>{{ app.translator.trans('products.home') }}</h2>
          <p class="lead text-justify">{{ app.translator.trans('products.lead.home') }}</p>
        </div>
      </section>
      <section class="row">
        <article class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <a href="{{ path('products_body_impact') }}" title="{{ app.translator.trans('title.products.body_impact') }}" class="zoom" data-title="{{ app.translator.trans('title.products.body_impact') }}" data-type="image" data-toggle="lightbox">
                <img src="/web/images/products/body_impact/main.png" alt="{{ app.translator.trans('title.products.body_impact') }}" />
              </a>
            </div>
            <div class="panel-footer">
              <h4><a href="{{ path('products_body_impact') }}" title="{{ app.translator.trans('title.products.body_impact') }}">{{ app.translator.trans('title.products.body_impact') }}</a></h4>
            </div>
          </div>
        </article>
        {#<article class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <a href="{{ path('products_purity_visage') }}" title="Purity Visage" class="zoom" data-title="Purity Visage" data-type="image" data-toggle="lightbox">
                <img src="http://lorempixel.com/300/300/fashion" alt="Purity Visage" />
              </a>
            </div>
            <div class="panel-footer">
              <h4><a href="{{ path('products_purity_visage') }}" title="Purity Visage">Purity Visage</a></h4>
            </div>
          </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <a href="{{ path('products_skin_program') }}" title="Skin Program" class="zoom" data-title="Skin Program" data-type="image" data-toggle="lightbox">
                <img src="http://lorempixel.com/300/300/fashion" alt="Skin Program" />
              </a>
            </div>
            <div class="panel-footer">
              <h4><a href="{{ path('products_skin_program') }}" title="Skin Program">Skin Program</a></h4>
            </div>
          </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <a href="{{ path('products_thalaxoterm') }}" title="Thalaxoterm" class="zoom" data-title="Thalaxoterm" data-type="image" data-toggle="lightbox">
                <img src="http://lorempixel.com/300/300/fashion" alt="Thalaxoterm" />
              </a>
            </div>
            <div class="panel-footer">
              <h4><a href="{{ path('products_thalaxoterm') }}" title="Thalaxoterm">Thalaxoterm</a></h4>
            </div>
          </div>
        </article>#}
      </section>
    </div>
  </main>
{% endblock %}