<article class="col-xs-12 col-sm-6 col-md-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <a title="{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.name') }}" class="zoom" data-toggle="modal" data-target="#{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.id')}}">
        <img src="{{ '/web/images/products/' ~ type ~ '/' ~ product ~ '.png' }}" alt="{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.name') }}" />
      </a>
    </div>
    <div class="panel-footer">
      <h4><a title="{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.name') }}" data-toggle="modal" data-target="#{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.id')}}">{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.name') }}</a></h4>
    </div>
  </div>
  <div class="modal fade" id="{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.id')}}" tabindex="-1" role="dialog" aria-labelledby="{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.id')}}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ app.translator.trans('products.close') }}</span></button>
          <h2 class="modal-title" id="{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.id')}}"><strong>{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.name') }}</strong></h2>
        </div>
        <div class="modal-body text-justify">
          <img class="img-modal" src="{{ '/web/images/products/' ~ type ~ '/' ~ product ~ '.png' }}" alt="{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.name') }}" />
          <h2 class="first-title-modal">{{ app.translator.trans('products.technical_data') }}</h2>
          <p>{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.technical_data') }}</p>
          <h2>{{ app.translator.trans('products.usage') }}</h2>
          <p>{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.usage') }}</p>
          <h2>{{ app.translator.trans('products.components') }}</h2>
          <p>{{ app.translator.trans('products.' ~ type ~ '.' ~ product ~ '.components') }}</p>
        </div>
      </div>
    </div>
  </div>
</article>