#contact-info {
  padding: 45px 0;
}

.gmap-area {
  background-image: url("../images/contact_map.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}

.gmap-area .gmap iframe {
  border-radius: 6px;
  height: 280px;
  width: 300px;
}

.gmap{
  border: 10px solid #f6f5f0;
  border-radius: 6px;
  height: 300px;
  width: 300px;
  box-shadow: 0px 0px 3px 3px #e7e4dc;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.gmap-area .map-content ul {
  list-style: none; 
}

.gmap-area .map-content address h5{
  font-weight: 700;
}

#contact-page{
  padding: 45px 0;
}

#contact-page .contact-form 
.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}

.contact-center {
  padding-bottom: 30px;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color:#f2f2f2;
  box-shadow: none;
}

textarea.form-control{
  resize: none;
  padding: 10px;
  height: 110px;
  overflow: hidden;
}

.checkbox div {
  height: 100px;
  width: 100%;
  resize: none;
  overflow-y: scroll;
  margin-top: 10px;
  padding-left: 20px;
}

.checkbox span {
  color: #c52d2f;
  font-weight: bold;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, 
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, 
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, 
.btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, 
.btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #c52d2f;
  opacity: 0.5;
}