/**
 * Feature section
 **/
#feature {
  background: #f2f2f2;
  padding-bottom: 40px;
  padding: 35px 0 0 0;

}

.features{
  padding: 0;
}

.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}

.feature-wrap h2{
  margin-top: 10px;
}

.feature-wrap .pull-left {
  margin-right: 25px;
}

.feature-icon {
  width: 110px;
  height: 110px;
  float: left;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  background: #ffffff;
  color: #c52d2f;
  border: 4px solid #f2f2f2;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;  
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  margin-right: 25px;
}

.feature-icon:hover {
  background: #c52d2f;
  border: 4px solid #c52d2f;
}

/**
 * Partner section
 **/
#partner {
  background: url(../images/partners/partner_bg.png) 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

#partner h2, 
#partner h3 {
  color: #fff;
}

.partners img {
  margin: 20px auto;
}

.logo-valign {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.center-partner {
  padding-bottom: 20px;
}