body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #4e4e4e;
  line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color: #4e4e4e;
}

h1{
  font-size: 36px;
  color: #fff;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #c52d2f;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}

.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}

.btn-primary:hover, .btn-primary:focus {
  background: #c52d2f;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover, a:focus {
  color: #000;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left {
  margin-right: 20px;
}

.media>.pull-right {
  margin-left: 20px;
}

body > section {
  padding: 70px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/**
 * Header
 */
.noscriptmsg {
  margin-bottom: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 0px;
}

.navbar > .container .navbar-brand {
  margin-left: 0;
}

.top-bar {
  padding: 10px 0;
  background: #191919;
  border-bottom: 1px solid #222;
  line-height: 28px;
}

.top-info {
  color: #fff;
}

.top-info span {
  margin: 0 0 0 15px;
}

.top-info span:first-child {
  margin: 0;
}

.languages {
  text-align: right;
}

.languages-selector {
 display: inline-block;
 list-style: none;
 padding: 0;
 margin: 0;
}

ul.languages-selector li {
  display: inline-block;
}

ul.languages-selector li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}

ul.languages-selector li a:hover {
  background: #c52d2f;
  color: #fff;
}

.languages-selector img {
  vertical-align: 0;
}

/**
 * Bootstrap changes
 */

.breadcrumb {
  padding: 7px 14px;
  margin-bottom: 10px;
}

.breadcrumb-row {
  display: inline-block;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb>li+li:before {
  content: ">>\00a0";
  font-weight: bold;
}

.breadcrumb a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.breadcrumb a:hover {
  color: #c52d2f;
  text-decoration: none;
}

.breadcrumb .divider {
  padding: 0 5px;
  color: #c52d2f;
  font-weight: bold;
}

.breadcrumb .active{
  color: #c52d2f;
  font-weight: bold;
}

.navbar-brand {
  padding: 0;
  margin:0;
}

.logo {
  width: 82px;
  height: 82px;
  margin: 4px auto;
}

.logo-text {
  width: 250px;
  height: 50px;
  margin: 20px auto;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #151515;
  padding: 0;
  padding-bottom: 0;
}

 .navbar-nav {
  margin: 28px auto;
 }

.navbar-nav > li {
  margin-left: 35px;
  padding: 0;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover {
	background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before {
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}

/**
 * Footer
 */
footer {
  clear:both;
  width:100%;
  bottom:0;
  left:0;
}

footer * {
  color: #FFF;
}

.top_footer {
  background-color: #151515;
  padding: 30px 15px;
}

.footer_map {
  background: url(../images/footer_map.png) center bottom no-repeat;
}

.bottom_footer {
  background-color: #191919;
}

.logo_footer {
  width: 56px;
  height: 56px;
  margin: 2px 0;
}

/*.footer_links {
  float: right;
  margin: 19px auto;
}

.footer_links a {
  margin-left: 13px;
  color: #A1A1A1;
}

.footer_links a:hover {
  color: #AF2018;
  text-decoration: none;
}*/

.back-to-top {
  display: none;
  position: fixed;
  bottom: 45px;
  right: 35px;
}

.back-to-top i {
  display: block;
  width: 36px !important;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  text-align: center;
  background-color: #000;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.back-to-top i:hover {
  color: #c52d2f;
}