.container-products {
  margin: 50px auto;
}
 a {
  cursor: pointer;
 }
 
.lead {
  margin: 0 15px;
}

.panel { 
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 0 !important;
}

.panel-default { 
  border-color: #ebedef !important;
}

.panel .panel-body { 
  position: relative;
  padding: 0 !important;
  overflow: hidden;
  height: auto;
}

.panel .panel-body a { 
  overflow: hidden;
}

.panel .panel-body a img { 
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.panel .panel-body a.zoom:hover img { 
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -moz-transform: scale(1.3);
}

.panel .panel-body a.zoom span.overlay { 
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity .25s ease-out;
  -moz-transition: opacity .25s ease-out;
  -webkit-transition: opacity .25s ease-out;
  -o-transition: opacity .25s ease-out;
}

.panel .panel-body a.zoom:hover span.overlay { 
  display: block;
  visibility: visible;
  opacity: 0.55;
  -moz-opacity: 0.55;
  -webkit-opacity: 0.55;
  filter: alpha(opacity=65);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}

.panel .panel-body a.zoom:hover span.overlay i { 
  position: absolute;
  top: 45%;
  left: 0%;
  width: 100%;
  font-size: 2.25em;
  color: #fff !important;
  text-align: center;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=1);    
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

.panel .panel-footer { 
  padding: 8px !important;
  background-color: #f9f9f9 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  text-align: center;
}

.panel .panel-footer h4 { 
  display: inline;
  font: 400 normal 1.125em "Roboto",Arial,Verdana,sans-serif;
  color: #34495e;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: bold;
}

.img-modal {
  float: left;
  margin-right: 10px;
  height: 200px;
  width: 300px;
}

.modal-body {
  display: inline-block;
}

.modal-title {
  color: #c52d2f;
}

.first-title-modal {
  margin-top: 0px;
}