{% extends 'layout.html' %}

{% block title%}{{ app.translator.trans('title.contacts') }}{% endblock %}
{% block stylesheets %}<link href="/web/css/contact.css" rel="stylesheet">{% endblock %}

{% form_theme form _self %}

{% block form_errors %}
  {% spaceless %}
    {% if errors|length > 0 %}
      {% for error in errors %}
        <span class="label label-danger pull-right">{{ error.message }}</span>
      {% endfor %}
    {% endif %}
  {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
  {% spaceless %}
    <div class="form-group {% if errors|length > 0 %}has-error{% endif %}" >
      {{ form_label(form, null, { 'label_attr': {'class': 'control-label'} }) }}
      {{ form_errors(form) }}
      {{ form_widget(form, { 'attr': {'class': 'form-control'} }) }}
    </div>
  {% endspaceless %}
{% endblock form_row %}

{% block content %}
	<main>
    <section id="contact-info">
      <div class="center contact-center">                
        <h2>{{ app.translator.trans('contact.head') }}</h2>
      </div>
      <div class="gmap-area">
        <div class="container">
          <div class="row">
            <div class="col-sm-5 text-center">
              <div class="gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m10!1m3!1d751.7809556613728!2d14.33191082878705!3d41.088141134822635!2m1!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133a55cd2ff6bd63%3A0xa42e69ad2c680651!2sVia+Amalfi+Repubblica+Marinara%2C+8%2C+81100+Caserta+CE!5e0!3m2!1sit!2sit!4v1411499284136" width="800" height="600" frameborder="0" style="border:0"></iframe>
              </div>
            </div>
            <div class="col-sm-7 map-content">
              <ul class="row">
                <li class="col-sm-6">
                  <address>
                    <h5>Ufficio</h5>
                    <p>Via Amalfi, 8/10<br>
                    81100 - Caserta, Italy</p>
                    <p>Tel/Fax: +39 0823 17028647<br>
                    Cell: 335 7959620</p>
                  </address>
                  {#<address>
                    <h5>Zonal Office</h5>
                    <p>1537 Flint Street <br>
                    Tumon, MP 96911</p>                                
                    <p>Phone:670-898-2847 <br>
                    Email Address:info@domain.com</p>
                  </address> #}
                </li>
                {#<li class="col-sm-6">
                  <address>
                    <h5>Zone#2 Office</h5>
                    <p>1537 Flint Street <br>
                    Tumon, MP 96911</p>
                    <p>Phone:670-898-2847 <br>
                    Email Address:info@domain.com</p>
                  </address>
                  <address>
                    <h5>Zone#3 Office</h5>
                    <p>1537 Flint Street <br>
                    Tumon, MP 96911</p>
                    <p>Phone:670-898-2847 <br>
                    Email Address:info@domain.com</p>
                  </address>
                </li>#}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="contact-page">
      <div class="container">
        <div class="center">        
          <h2>{{ app.translator.trans('contact.email.title') }}</h2>
          <p class="lead">{{ app.translator.trans('contact.email.description') }}</p>
        </div> 
        <div class="row contact-wrap"> 
          {% if app.session.getFlashBag.get('success') %}
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>{{ 'contact.form.success.email'|trans }}</strong> {{ 'contact.form.success.text'|trans }}
            </div>
          {% endif %}
          {{ form_start(form, {'attr': {'class': 'contact-form', 'id': 'main-contact-form'}}) }}
            {{ form_errors(form) }}
            <div class="col-sm-5 col-sm-offset-1">
              <div class="form-group">
                {{ form_row(form.name) }}
              </div>
              <div class="form-group">
                {{ form_row(form.surname) }}
              </div>
              <div class="form-group">
                {{ form_row(form.email) }}
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                {{ form_row(form.subject) }}
              </div>
              <div class="form-group">
                {{ form_row(form.message) }}
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" onClick="EnableSubmit(this)"><span>* {{ app.translator.trans('contact.form.privacy.label') }}</span>
                </label>
                <div>{{ app.translator.trans('contact.form.privacy.textarea')|raw }}</div>
              </div>
              <div class="form-group">
                <button disabled="disabled" type="submit" id="postme" name="submit" class="btn btn-primary btn-lg pull-right" required="required">{{ app.translator.trans('contact.form.send') }}</button>
              </div>
            </div>
          {{ form_end(form) }} 
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block javascript %}
<script type='text/javascript'>
EnableSubmit = function(val) {
    var sbmt = document.getElementById("postme");

    if (val.checked == true) {
      sbmt.disabled = false;
    } else {
      sbmt.disabled = true;
    }
}
</script>
{% endblock %}