{% extends "layout.html" %}

{% block title %}{{ 'title.home'|trans }}{% endblock %}
{% block stylesheets %}<link href="/web/css/home.css" rel="stylesheet">{% endblock %}

{% block content %}
  <main>
    <section>
      <div id="main-slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#main-slider" data-slide-to="0" class="active"></li>
          <li data-target="#main-slider" data-slide-to="1"></li>
          <li data-target="#main-slider" data-slide-to="2"></li>
          <li data-target="#main-slider" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="/web/images/slide/1.jpg" alt="Slide #1">
          </div>
          <div class="item">
            <img src="/web/images/slide/2.jpg" alt="Slide #2">
          </div>
          <div class="item">
            <img src="/web/images/slide/3.jpg" alt="Slide #3">
          </div>
          <div class="item">
            <img src="/web/images/slide/4.jpg" alt="Slide #4">
          </div>        
        </div>
        <a class="left carousel-control" href="#main-slider" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#main-slider" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </section>
    <section id="feature">
      <div class="container">
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <img src="/web/images/feature/italy.png" class="feature-icon" alt="Made in Italy" />
                        <h2>{{ app.translator.trans('home.feature.first.title') }}</h2>
                        <h3>{{ app.translator.trans('home.feature.first.description') }}</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <img src="/web/images/feature/tested.png" class="feature-icon" alt="Federico II" />
                        <h2>{{ app.translator.trans('home.feature.second.title') }}</h2>
                        <h3>{{ app.translator.trans('home.feature.second.description') }}</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <img src="/web/images/feature/cruelty_free.png" class="feature-icon" alt="Cruelty Free" />
                        <h2>{{ app.translator.trans('home.feature.third.title') }}</h2>
                        <h3>{{ app.translator.trans('home.feature.third.description') }}</h3>
                    </div>
                </div>
            </div>
        </div>    
      </div>
    </section>
    <section id="partner">
      <div class="container">
        <div class="center center-partner wow fadeInDown">
          <h2>{{ app.translator.trans('home.partner.title') }}</h2>
          <p class="lead">{{ app.translator.trans('home.partner.description') }}</p>
        </div>    
        <div class="partners">
          <div class="col-md-2 logo-valign">
              <a href="http://www.gigispa.com/">
                <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="/web/images/partners/partner1.png">
              </a>
          </div>
          <div class="col-md-2 logo-valign">
              <a href="http://www.led.it/">
                <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="/web/images/partners/partner2.png">
              </a>
          </div>
          <div class="col-md-2 logo-valign">
              <a href="http://www.dorleac.com/">
                <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="/web/images/partners/partner3.png">
              </a>
          </div>
          <div class="col-md-2 logo-valign">
              <a href="http://www.lafemme.it/">
                <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="/web/images/partners/partner4.png">
              </a>
          </div>
          <div class="col-md-2 logo-valign">
              <a href="http://www.cerri.it/">
                <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="/web/images/partners/partner5.png">
              </a>
          </div>
        </div>        
      </div>
    </section>
  </main>
{% endblock %}