<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TechnoBeautyLine - {% block title %}{% endblock %}</title>

    <link href="/web/css/bootstrap.min.css" rel="stylesheet">
    <link href="/web/css/font-awesome.min.css" rel="stylesheet">
    <link href="/web/css/animate.min.css" rel="stylesheet">
    <link href="/web/css/layout.css" rel="stylesheet">
    <link href="/web/css/responsive.css" rel="stylesheet">    
    {% block stylesheets %}{% endblock %}

    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="/web/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/web/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/web/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/web/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/web/images/ico/apple-touch-icon-57-precomposed.png">
  </head>
  <body class="homepage">
    <noscript>
      <div class="noscriptmsg alert alert-danger" role="alert">
        {{ app.translator.trans('general.javascript_error') }}
      </div>
    </noscript>
    <header id="header">
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-xs-8">
              <div class="top-info">
                <span><i class="fa fa-phone"></i>  +39 0823 1702864</span>
                <span><i class="fa fa-envelope"></i>  info@technobeautyline.com</span>
              </div>
            </div>
            <div class="col-sm-6 col-xs-4">
              <div class="languages">
                <ul class="languages-selector">
                  <li><a href="{{ path(app.request.attributes.get('_route'), {_locale: 'it'})}}"><img src="/web/images/flags/it.png" alt=""></a></li>
                  <li><a href="{{ path(app.request.attributes.get('_route'), {_locale: 'en'})}}"><img src="/web/images/flags/us.png" alt=""></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">
              <img class="logo" src="/web/images/logo.png" alt="TechnoBeautyLine Logo">
              <img class="logo-text" src="/web/images/logo_text.png" alt="TechnoBeautyLine Text">
            </a>
          </div>
        
          <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
              <li {% if app.request.get('_route') == 'homepage' %}class="active"{% endif %}>
                <a href="{{ path('homepage') }}">{{ app.translator.trans('menu.home') }}</a>
              </li>
              <li {% if app.request.get('_route') starts with 'products' %}class="active"{% endif %}>
                <a href="{{ path('products') }}">{{ app.translator.trans('menu.products') }}</a>
              </li>
              {#<li {% if app.request.get('_route') == 'company' %}class="active"{% endif %}>
                <a href="{{ path('company') }}">{{ app.translator.trans('menu.company') }}</a>
              </li>#}
              <li {% if app.request.get('_route') == 'contacts' %}class="active"{% endif %}>
                <a href="{{ path('contacts') }}">{{ app.translator.trans('menu.contacts') }}</a>
              </li>           
            </ul>
          </div>
        </div>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <div class="top_footer">
        <div class="container wow fadeInDown animated" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-md-4 footer_map text-center">
              <h2>{{ 'footer.info.title'|trans }}</h2>
              <address>
                <strong>TechnoBeautyLine S.r.l.</strong><br>
                Via Amalfi, 8/10<br>
                81100 - Caserta, {{ 'footer.info.country'|trans }}<br>
                Tel/Fax: +39 0823 1702864
              </address>
            </div>
            <div class="col-md-4 text-center col-md-offset-4">
              <h2>{{ 'footer.social'|trans }}</h2>
                <ul class="list-inline">
                  <li><a href="https://www.facebook.com/pages/Technobeautyline-TBL/431860196897564" target="_blank" ><img src="/web/images/social/facebook.png" alt="Facebook" /></a></li>
                  <li><a href="https://twitter.com/TechnoBeutyLine" target="_blank" ><img src="/web/images/social/twitter.png" alt="Twitter" /></a></li>
                  <li><a href="https://plus.google.com/114945655633560131508/" target="_blank" ><img src="/web/images/social/plus.png" alt="Google Plus" /></a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <img class="logo_footer" src="/web/images/logo.png" alt="TechnoBeautyLine" />
              <span class="footer_copyright">&copy; 2014 TechnoBeautyLine Srl. <span class="hidden-xs">{{ app.translator.trans('footer.copyright') }}</span></span>
            </div>
            <div class="col-md-4">
              {#<div class="footer_links">
                <a href="{{ path('privacy') }}">{{ 'menu.privacy'|trans }}</a>
                <a href="{{ path('terms') }}">{{ 'menu.terms'|trans }}</a>
                <a href="{{ path('credits') }}">{{ 'menu.credits'|trans }}</a>
                <a href="{{ path('sitemap') }}">{{ 'menu.sitemap'|trans }}</a>
              </div>#}
            </div>
          </div>
        </div>
      </div>
    </footer>
    <a href="#" class="back-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>
    {% block javascript %}
    {% endblock %}
    <script src="/web/js/jquery.js"></script>
    <script src="/web/js/bootstrap.min.js"></script>
    <script src="/web/js/main.js"></script>
    <script src="/web/js/wow.min.js"></script>
  </body>
</html>