<strong>Nome:</strong> {{ name }} <br>
<strong>Cognome:</strong> {{ surname }} <br>
<strong>e-Mail:</strong> {{ email }} <br>
<strong>Soggetto:</strong> {{ subject }} <br>
<strong>IP:</strong> {{ ip }} <br><br>

<strong>Messaggio:</strong><br>
{{ message }}